<div class="main-container" id="about">
  <div class="container">
    <div class="left-component">
      <img
        class="repair-guys"
        src="https://raw.githubusercontent.com/tranfh/ontario-drain-cleaners/master/public/repairguys.png"
      />
    </div>
    <div class="right-component">
      <div class="large-title">
        <h1 style="margin:0px; font-size:2.5rem">
          Licensed & <span style="color:#1170f4">Insured</span>
        </h1>
      </div>
      <div class="text-content">
        <p>
          <span style="font-weight: bold;">Ontario Drain Cleaning and Clearing</span> started with the
          mission of solving a common problem: finding a cost effective resolution to clogged drains.
          When an essential part of your home is not working, you are placed in a stressful and potentially
          costly situation. ODC was founded as a reliable resolution for our customers. Your clogged
          drain is our specialty! With no hidden cost, prompt and reliable service, ODC gets your flow
          back.
        </p>
        <h2 style="font-weight: bold;">HIRE THE RIGHT PEOPLE!</h2>
        <p>
          Professional drain cleaners are a great and affordable alternative to hiring a plumber for
          your drain cleaning and clearing solutions. We are pro drain experts, fully licensed and
          insured and fully equipped to handle all issues you may encounter. Whether it be emergency
          services or preventative maintenance. Speak to a representative to find out more.
        </p>
        <p>
          We are happy to provide quotes and assistance online, over the phone or your preferred
          method of contact. There is a fixed price for each level of service. Only pay once the
          work is complete! It's our guarantee that if we don't get your drain unclogged you don't
          pay for the service!
        </p>
        <p style="font-style: italic; font-weight: bold; font-size:small">
          We accept interact and all major credit cards.<br />
          *The standard arrival fee still does apply*
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .main-container {
    background-color: rgb(241 246 250);
    height: 100vh;
    padding: 5rem;
  }
  .container {
    display: flex;
  }
  .left-component {
    width: 100%;
  }
  .right-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem;
  }
  .repair-guys {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    max-width: 90%;
    padding: 16px;
    min-width: 31.25rem;
    margin-top: 10vh;
  }
  .text-container {
    max-width: 31.25rem;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .main-container {
      display: initial;
      background-color: transparent;
    }
    .container {
      width: 100%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      position: initial;
    }
    .repair-guys {
      vertical-align: middle;
      display: inline-block;
      width: 100%;
      max-width: 90%;
      padding: 16px;
      min-width: 20rem;
    }
    .right-component {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 1rem;
    }
  }
</style>
