---
---

<div class="top-nav">
  <div class="top-nav-logo">
    <img src="public/odc-logo.png" alt="ODC Logo" width="200" height="50" />
  </div>
  <div class="top-nav-items">
    <a href="/">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact-us">Contact Us</a>
    <div class="phone-button">
      <img class="phone-icon" src="public/phone-white-filled.png" width="20" height="20" />
      <span style="color:white">+1 (647) 927-7677</span>
    </div>
  </div>
</div>

<style>
  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .top-nav-logo {
    display: flex;
    flex: 1;
  }
  .top-nav-items {
    width: 100%;
    min-width: 25rem;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Titillium Web";
  }
  .top-nav-items a {
    text-decoration: none;
    color: black;
  }
  .phone-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1170f4;
    box-shadow: 22px 10px 50px -10px rgba(0, 0, 0, 0.36);
  }
  .phone-icon {
    padding-right: 8px;
    color: white;
  }
</style>
