---
import Card from "./Card.astro"
---

<div class="main-container" id="services">
  <div class="quote-container">
    <h1>Services</h1>
  </div>
  <div class="card-container">
    <div class="card1">
      <Card
        title="Clogged Drains"
        body="If clogged drains are slowing down your daily chores, making showers unpleasant, or otherwise getting in the way, Ontario Drain Cleaners  has the solution. We offer quality services that get results. You can trust us to fix your clogged drains quickly and for a reasonable price."
        href=""
        imageUrl="/public/waterPipe.png"
      />
    </div>
    <div class="card2">
      <Card
        title="Drain Cleaning"
        body="There’s nothing worse than dealing with dirty, stinking drains in the home. What about when your sinks and tubs pooling with brown, bacteria-infested water? Not ideal. When this begins to happen in your home, you need to call in the experts in the GTA, and our drain cleaning services are about as professional as they come!"
        href=""
        imageUrl="/public/broomClean.png"
      />
    </div>
    <div class="card3">
      <Card
        title="Preventative Maintenance"
        body="Keeping your drains looking and feeling their best will go a long way toward guaranteeing the health of your home’s plumbing overall. There are a number of ways to do this, but the best – and easiest – way is practicing regular drain maintenance."
        href="/toolGear.svg"
        imageUrl="/public/toolGear.png"
      />
    </div>
  </div>
</div>

<style>
  h2,
  p {
    margin: 0;
  }
  @media screen and (min-width: 65.625rem) {
    .main-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0px 24px;
      height: 100vh;
      background-color: rgba(248, 252, 255, 100);
    }

    .card-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }

    .card1,
    .card2,
    .card3 {
      width: 20rem;
      height: 30rem;
    }
    .quote-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40rem;
      padding: 24px 0px;
      padding-bottom: 50px;
    }
  }
</style>
